#Tasks 30-July

1. Find out there average rating on weekly basis keep this in mind that they take two days of leave. --Done
2. total working days for each aggent. --Done
3. total query that you have taken. --Done
4. total feedback that you have received. --Done
5. A agent name who have average rating between 3.5 to 4. --Done
6. Agent name who have average rating less than 3.5. --Done
7. Agent name who have average rating more than 4.5. --Done
8. how many feedback agents have received more than 4.5 average rating. --Done
9. Average weekly responce time for each agent. --Done
10. Average weekly resolution time fr each agent. --Done
11. list of all agents name. --Done
12. percentage of chat on which they have received a feedback.  --Done
13. total contribution hour for each and every agent weekly basis. --Done
14. total percentage of acive hour for a month.

In [1]:
import pandas as pd

In [2]:
#Reading AgentPerformance data
ap = pd.read_csv(r'E:\Ineuron_Videos\30July Data\AgentPerformance.csv')

In [3]:
ap.shape

(2160, 8)

In [4]:
ap.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [5]:
# List of all Agents Name

#ap['Agent Name'].value_counts().index
pd.unique(ap['Agent Name'])

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [6]:
# No of unique values in each column
ap.nunique()

SL No                      2160
Date                         30
Agent Name                   70
Total Chats                  61
Average Response Time       144
Average Resolution Time     612
Average Rating              144
Total Feedback               40
dtype: int64

In [7]:
#Converting Date in datetime formate
ap['converted_Date'] = pd.to_datetime(ap['Date'])

In [8]:
pd.unique(ap['Date'])

array(['7/30/2022', '7/29/2022', '7/28/2022', '7/27/2022', '7/26/2022',
       '7/25/2022', '7/24/2022', '7/23/2022', '7/22/2022', '7/21/2022',
       '7/20/2022', '7/19/2022', '7/18/2022', '7/17/2022', '7/16/2022',
       '7/15/2022', '7/14/2022', '7/13/2022', '7/12/2022', '7/11/2022',
       '7/10/2022', '7/9/2022', '7/8/2022', '7/7/2022', '7/6/2022',
       '7/5/2022', '7/4/2022', '7/3/2022', '7/2/2022', '7/1/2022'],
      dtype=object)

In [9]:
ap['week']=ap['converted_Date'].dt.week

In [10]:
pd.unique(ap['week'])

array([30, 29, 28, 27, 26], dtype=int64)

In [11]:
ap[(ap['week']==28) & (ap['Agent Name'] == 'Jawala Prakash')]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_Date,week
999,1000,7/17/2022,Jawala Prakash,0,0:00:00,0:00:00,0.00,0,2022-07-17,28
1026,1027,7/16/2022,Jawala Prakash,44,0:07:00,0:14:42,4.21,14,2022-07-16,28
1094,1095,7/15/2022,Jawala Prakash,25,0:02:00,0:14:52,4.00,12,2022-07-15,28
1216,1217,7/14/2022,Jawala Prakash,0,0:00:00,0:00:00,0.00,0,2022-07-14,28
1249,1250,7/13/2022,Jawala Prakash,23,0:01:23,0:32:22,4.38,8,2022-07-13,28
1312,1313,7/12/2022,Jawala Prakash,23,0:01:52,0:21:12,4.29,17,2022-07-12,28
1435,1436,7/11/2022,Jawala Prakash,23,0:01:19,0:18:54,4.30,10,2022-07-11,28

In [12]:
#observation if chats are Zero then assume Agent on leave
ap

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_Date,week
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0,2022-07-01,26
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0,2022-07-01,26

In [13]:
#drop all rows having chats is Zero (assumed Agent on leave)
ap1=ap.drop(ap[ap['Total Chats'] == 0].index)

In [14]:
ap1

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_Date,week
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9,2022-07-30,30
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7,2022-07-30,30
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11,2022-07-30,30
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7,2022-07-30,30
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...
2101,2102,7/1/2022,Jaydeep Dixit,25,0:01:15,0:26:27,4.77,13,2022-07-01,26
2102,2103,7/1/2022,Shivananda Sonwane,23,0:01:24,0:30:14,4.86,14,2022-07-01,26
2103,2104,7/1/2022,Khushboo Priya,24,0:01:46,0:29:28,4.61,18,2022-07-01,26
2104,2105,7/1/2022,Hrisikesh Neogi,15,0:01:05,0:25:29,4.56,9,2022-07-01,26
2105,2106,7/1/2022,Tarun,22,0:00:00,0:45:14,1.50,6,2022-07-01,26

In [15]:
ap1[(ap1['week']==28) & (ap1['Agent Name'] == 'Jawala Prakash')]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_Date,week
1026,1027,7/16/2022,Jawala Prakash,44,0:07:00,0:14:42,4.21,14,2022-07-16,28
1094,1095,7/15/2022,Jawala Prakash,25,0:02:00,0:14:52,4.00,12,2022-07-15,28
1249,1250,7/13/2022,Jawala Prakash,23,0:01:23,0:32:22,4.38,8,2022-07-13,28
1312,1313,7/12/2022,Jawala Prakash,23,0:01:52,0:21:12,4.29,17,2022-07-12,28
1435,1436,7/11/2022,Jawala Prakash,23,0:01:19,0:18:54,4.30,10,2022-07-11,28

In [16]:
#weekly total chats
ap1.groupby(['Agent Name','week'])['Total Chats'].sum()

Agent Name     week
Aditya Shinde  26       91
               27       87
               28       99
Aditya_iot     27       16
               28       72
                      ...
Wasim          30      144
Zeeshan        27       45
               28      194
               29      157
               30      146
Name: Total Chats, Length: 182, dtype: int64

In [17]:
#No of days Present
l1 = ap1.groupby(['Agent Name'])['Total Chats'].count()
l1.head()

Agent Name
Aditya Shinde    12
Aditya_iot       17
Ameya Jain       15
Anirudh           7
Ankitjha          3
Name: Total Chats, dtype: int64

In [18]:
#Total Query by each agent
l2 = ap1.groupby('Agent Name')['Total Chats'].sum()
l2.head()

Agent Name
Aditya Shinde    277
Aditya_iot       231
Ameya Jain       322
Anirudh           81
Ankitjha           5
Name: Total Chats, dtype: int64

In [19]:
#Total Feedback received by each agent
l3=ap1.groupby('Agent Name')['Total Feedback'].sum()
l3.head()

Agent Name
Aditya Shinde    153
Aditya_iot       131
Ameya Jain       228
Anirudh           39
Ankitjha           3
Name: Total Feedback, dtype: int64

In [20]:
#Percentage of feedback on query
((l3 / l2 )*100).head()

Agent Name
Aditya Shinde    55.234657
Aditya_iot       56.709957
Ameya Jain       70.807453
Anirudh          48.148148
Ankitjha         60.000000
dtype: float64

In [21]:
l4=ap1.groupby('Agent Name')['Average Rating'].sum()
l4.head()

Agent Name
Aditya Shinde    54.01
Aditya_iot       70.36
Ameya Jain       66.59
Anirudh          19.35
Ankitjha          8.00
Name: Average Rating, dtype: float64

In [22]:
#Average Rating for each Agent
l5 = l4/l1
l5.head()

Agent Name
Aditya Shinde    4.500833
Aditya_iot       4.138824
Ameya Jain       4.439333
Anirudh          2.764286
Ankitjha         2.666667
dtype: float64

In [23]:
#Agent having Maximum rating 
l5[l5 ==l5.max()]

Agent Name
Sudhanshu Kumar    5.0
dtype: float64

In [24]:
l5[(l5>=3.5) & (l5 <4)]

Agent Name
Mithun S    3.931667
Shivan K    3.874545
dtype: float64

In [25]:
l5[(l5<3.5)]

Agent Name
Anirudh             2.764286
Ankitjha            2.666667
Anurag Tiwari       2.750000
Ashad Nasim         2.500000
Dibyanshu           0.000000
Hitesh Choudhary    0.000000
Mahak               3.000000
Maneesh             1.666667
Mukesh Rao          2.556667
Samprit             0.000000
Tarun               1.500000
Vivek               3.004000
dtype: float64

In [26]:
l5[(l5>=4.5)]

Agent Name
Aditya Shinde         4.500833
Aravind               4.674286
Bharath               4.711053
Jaydeep Dixit         4.524286
Mukesh                4.645000
Saikumarreddy N       4.570000
Shivananda Sonwane    4.535000
Shubham Sharma        4.607619
Sudhanshu Kumar       5.000000
Suraj S Bilgi         4.680000
Wasim                 4.500000
dtype: float64

In [27]:
l6 =ap1.groupby(['Agent Name','week'])['Average Rating'].sum()
l6

Agent Name     week
Aditya Shinde  26       7.70
               27      22.58
               28      23.73
Aditya_iot     27       8.63
               28      20.50
                       ...
Wasim          30      21.49
Zeeshan        27       9.15
               28      20.64
               29      22.26
               30      16.56
Name: Average Rating, Length: 182, dtype: float64

In [28]:
l7 = ap1.groupby(['Agent Name','week'])['Average Rating'].count()
l7

Agent Name     week
Aditya Shinde  26      2
               27      5
               28      5
Aditya_iot     27      2
               28      5
                      ..
Wasim          30      5
Zeeshan        27      2
               28      5
               29      5
               30      4
Name: Average Rating, Length: 182, dtype: int64

In [29]:
#Average Weekly rating for each Agent
l8 = l6/l7
l8

Agent Name     week
Aditya Shinde  26      3.850
               27      4.516
               28      4.746
Aditya_iot     27      4.315
               28      4.100
                       ...
Wasim          30      4.298
Zeeshan        27      4.575
               28      4.128
               29      4.452
               30      4.140
Name: Average Rating, Length: 182, dtype: float64

In [30]:
ap1.groupby(['Agent Name','week'])['Average Response Time'].sum()

Agent Name     week
Aditya Shinde  26                           0:01:200:01:26
               27      0:01:140:00:420:01:050:01:060:01:24
               28      0:01:030:01:160:01:540:01:260:00:56
Aditya_iot     27                           0:00:320:01:49
               28      0:01:110:00:400:00:480:02:070:01:18
                                      ...
Wasim          30      0:00:430:01:150:01:050:01:170:00:43
Zeeshan        27                           0:01:230:01:22
               28      0:03:490:03:160:03:420:01:440:01:53
               29      0:01:210:01:330:01:290:01:200:01:37
               30             0:01:300:01:480:01:440:01:21
Name: Average Response Time, Length: 182, dtype: object

In [31]:
ap1['Average Response Time']= pd.to_timedelta(ap1['Average Response Time'])

In [32]:
ap1['Average Resolution Time']= pd.to_timedelta(ap1['Average Resolution Time'])

In [33]:
ap1
#ap1.drop('Avg Resolution Time',inplace =True,axis =1)

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_Date,week
0,1,7/30/2022,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,30
1,2,7/30/2022,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,30
2,3,7/30/2022,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,30
3,4,7/30/2022,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,30
4,5,7/30/2022,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,30
...,...,...,...,...,...,...,...,...,...,...
2101,2102,7/1/2022,Jaydeep Dixit,25,00:01:15,00:26:27,4.77,13,2022-07-01,26
2102,2103,7/1/2022,Shivananda Sonwane,23,00:01:24,00:30:14,4.86,14,2022-07-01,26
2103,2104,7/1/2022,Khushboo Priya,24,00:01:46,00:29:28,4.61,18,2022-07-01,26
2104,2105,7/1/2022,Hrisikesh Neogi,15,00:01:05,00:25:29,4.56,9,2022-07-01,26
2105,2106,7/1/2022,Tarun,22,00:00:00,00:45:14,1.50,6,2022-07-01,26

In [34]:
#Average weekly responce time for each agent

(ap1.groupby(['Agent Name','week'])['Average Response Time'].sum())/l5

C:\Users\91708\anaconda3\lib\site-packages\pandas\core\arrays\timedeltas.py:545: RuntimeWarning: divide by zero encountered in true_divide
  result = self._data / other
C:\Users\91708\anaconda3\lib\site-packages\pandas\core\arrays\timedeltas.py:545: RuntimeWarning: invalid value encountered in true_divide
  result = self._data / other

Agent Name     week
Aditya Shinde  26     00:00:36.882058
               27     00:01:13.541936
               28     00:01:27.761525
Aditya_iot     27     00:00:34.067652
               28     00:01:27.947697
                            ...
Wasim          30     00:01:07.333333
Zeeshan        27     00:00:38.478355
               28     00:03:21.486663
               29     00:01:42.608949
               30     00:01:29.316426
Length: 182, dtype: timedelta64[ns]

In [35]:
#Average weekly resolution time fr each agent

(ap1.groupby(['Agent Name','week'])['Average Resolution Time'].sum())/l5

Agent Name     week
Aditya Shinde  26     00:10:17.885576
               27     00:23:25.739677
               28     00:35:13.164228
Aditya_iot     27     00:08:44.061967
               28     00:25:40.776009
                            ...
Wasim          30     00:23:26.444444
Zeeshan        27     00:08:47.270077
               28     00:26:46.762862
               29     00:21:36.603993
               30     00:18:02.291211
Length: 182, dtype: timedelta64[ns]

In [36]:
alr = pd.read_csv(r'E:\Ineuron_Videos\30July Data\AgentLogingReport.csv')

In [37]:
alr.shape

(1000, 6)

In [38]:
alr[alr['Duration']>'24:00:00']

#Droping these records as data may corrupt

     SL No          Agent       Date Login Time Logout Time   Duration
557    558  Jaydeep Dixit  24-Jul-22   20:52:20    21:02:14   24:09:54
999   1000          Tarun  01-Jul-22   01:52:47    12:01:07  514:08:20

In [39]:
alr.drop(alr[(alr['Duration']>'24:00:00')].index,inplace=True)

In [40]:
alr.dtypes

SL No           int64
Agent          object
Date           object
Login Time     object
Logout Time    object
Duration       object
dtype: object

In [41]:
alr['Date']=pd.to_datetime(alr['Date'])
alr['Login Time'] = pd.to_timedelta(alr['Login Time'])
alr['Logout Time'] = pd.to_timedelta(alr['Logout Time'])
alr['Duration']=pd.to_timedelta(alr['Duration'])

In [42]:
alr['week']=alr['Date'].dt.week
alr['month']=alr['Date'].dt.month

In [43]:
alr[alr['Duration']>'24:00:00']

Empty DataFrame
Columns: [SL No, Agent, Date, Login Time, Logout Time, Duration, week, month]
Index: []

In [44]:
alr.dtypes

SL No                    int64
Agent                   object
Date            datetime64[ns]
Login Time     timedelta64[ns]
Logout Time    timedelta64[ns]
Duration       timedelta64[ns]
week                     int64
month                    int64
dtype: object

In [45]:
alr.tail()

,SL No,Agent,Date,Login Time,Logout Time,Duration,week,month
994,995,Aravind,2022-07-20,09:03:51,15:15:46,06:11:55,29,7
995,996,Manjunatha A,2022-07-20,09:03:51,15:02:28,05:58:37,29,7
996,997,Bharath,2022-07-20,09:00:49,15:01:32,06:00:43,29,7
997,998,Khushboo Priya,2022-07-20,08:59:20,14:26:55,05:27:34,29,7
998,999,Nishtha Jain,2022-07-20,08:43:55,14:00:33,05:16:38,29,7

In [46]:
alr.nunique()

SL No          998
Agent           48
Date            11
Login Time     955
Logout Time    982
Duration       725
week             2
month            1
dtype: int64

In [47]:
#total weekly contribution for each agent.

p = alr.groupby(['Agent','week'])['Duration'].sum()
p

Agent          week
Aditya Shinde  30     0 days 00:02:10
Aditya_iot     29     0 days 06:05:43
               30     0 days 09:38:09
Amersh         30     0 days 03:03:50
Ameya Jain     29     1 days 00:04:59
                            ...
Swati          30     0 days 06:08:33
Wasim          29     0 days 19:37:32
               30     1 days 04:33:13
Zeeshan        29     1 days 00:25:39
               30     1 days 00:39:40
Name: Duration, Length: 88, dtype: timedelta64[ns]

In [48]:
p[p==p.max()]

Agent             week
Deepranjan Gupta  30     2 days 09:16:44
Name: Duration, dtype: timedelta64[ns]

In [49]:
alr.groupby(['Agent','week'])['Duration'].count()

Agent          week
Aditya Shinde  30       1
Aditya_iot     29       3
               30       6
Amersh         30       4
Ameya Jain     29       7
                       ..
Swati          30       1
Wasim          29       9
               30      11
Zeeshan        29       6
               30       4
Name: Duration, Length: 88, dtype: int64

In [50]:
#Toatl active hours

alr['Duration'].sum()

Timedelta('68 days 09:39:38')

In [51]:
#percentage of acive hour for a month

lp = (alr.groupby(['Agent'])['Duration'].sum())/ alr['Duration'].sum() * 100
lp.head()

Agent
Aditya Shinde    0.002200
Aditya_iot       0.958244
Amersh           0.186634
Ameya Jain       2.562988
Ankitjha         0.138089
Name: Duration, dtype: float64

In [52]:
lp.sum()

100.0

In [53]:
#Max percentage

lp[lp==lp.max()]

Agent
Deepranjan Gupta    6.473645
Name: Duration, dtype: float64

In [54]:
lp[lp<=0]

Series([], Name: Duration, dtype: float64)

In [55]:
lp[lp>3]

Agent
Deepranjan Gupta      6.473645
Dibyanshu             3.203819
Harikrishnan Shaji    3.271975
Hrisikesh Neogi       3.506730
Ishawant Kumar        3.154056
Shivananda Sonwane    3.002312
Shubham Sharma        3.277068
Name: Duration, dtype: float64